<div class="text-lg">跑馬燈設定</div>

<div class="border-cyan-700 border-solid border-2 p-4">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="settingForm" class="ant-advanced-search-form" nzNoColon>
        <div nz-row [nzGutter]="{ md: 12 }" nzType="flex" nzAlign="bottom">
            <!-- <div nz-col [nzSpan]="4">
                <nz-form-item>
                    <nz-form-label nzFor="period">更新時間</nz-form-label>
                    <nz-form-control nzErrorTip="此欄位為必填欄位" style="flex-direction: initial;">
                        <nz-input-number formControlName="renewTime" [nzMin]="1" [nzStep]="1"
                            class="w-full"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div> -->
            <div nz-col [nzSpan]="4">
                <nz-form-item>
                    <nz-form-label nzFor="period">方向</nz-form-label>
                    <nz-form-control nzErrorTip="此欄位為必填欄位">
                        <nz-select formControlName="direction">
                            <nz-option nzValue="LeftToRight" nzLabel="左到右"></nz-option>
                            <nz-option nzValue="RightToLeft" nzLabel="右到左"></nz-option>
                            <nz-option nzValue="TopToBottom" nzLabel="上到下"></nz-option>
                            <nz-option nzValue="BottomToTop" nzLabel="下到上"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
                <nz-form-item>
                    <nz-form-label nzFor="period">速度</nz-form-label>
                    <nz-form-control nzErrorTip="此欄位為必填欄位" style="flex-direction: initial;">
                        <nz-input-number formControlName="speed" [nzMin]="1" [nzStep]="1"
                            class="w-full"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label nzFor="period">內容</nz-form-label>
                    <nz-form-control nzErrorTip="此欄位為必填欄位">
                        <div class="editor-container editor-container_classic-editor" #editorContainerElement>
                            <div class="editor-container__editor">
                                <div #editorElement>
                                    <ckeditor [editor]="Editor" [config]="config" *ngIf="isLayoutReady"
                                        formControlName="content" />
                                </div>
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="24" class="text-right">
                <button nz-button nzType="primary" class="mx-2" (click)="getMarquee()">
                    更新
                </button>
            </div>
        </div>
    </form>
</div>

<div class="text-lg mt-8">跑馬燈</div>

<div class="d-flex justify-content-center marquee-parent #marqueeParent border-cyan-700 border-solid border-2" style="height: 200px;"
    [innerHtml]="trustedMarqueeText"></div>

<div>

</div>