<div class="w-100 h-full border-solid border-8 border-cyan-800 rounded-lg">
    <!-- <div class="base-card">
        <div class="base-card-header bg-slate-400">
            <h4>查詢條件</h4>
        </div>
        <div class="base-card-content"> -->
            <!-- 條件欄位 -->
            <!-- <form nz-form [nzLayout]="'vertical'" [formGroup]="searchForm" class="ant-advanced-search-form" nzNoColon
                (ngSubmit)="onSubmit()">
                <div nz-row [nzGutter]="{ md: 12, xl: 24 }" nzType="flex" nzAlign="bottom">
                    <div nz-col [nzXl]="4" [nzMd]="8">
                        <nz-form-item>
                            <nz-form-label nzFor="period">名稱</nz-form-label>
                            <nz-form-control nzErrorTip="此欄位為必填欄位">
                                <input nz-input formControlName="userName" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzXl]="6" [nzMd]="8">
                        <nz-form-item>
                            <nz-form-control>
                                <button type="submit" nz-button nzType="primary" class="mx-2">
                                    查詢
                                </button>
                                <button nz-button nzType="default" (click)="onClear()">
                                    清除
                                </button>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
            <hr /> -->
            <!-- 查詢結果 -->
            <!-- <div class="base-card m-2">
                <div class="base-card-header bg-slate-400 flex justify-between">
                    <h4>查詢結果</h4>
                    <button nz-button (click)="onEdit('add')" nzType="default">新增</button>
                </div> -->
                <div class="base-card-content">
                    <nz-table #columnTable [nzData]="listOfData" [nzScroll]="{ x: '1100px' }"
                        [nzHideOnSinglePage]="true">
                        <thead>
                            <tr>
                                <th>名稱</th>
                                <th>權限</th>
                                <th>是否啟用</th>
                                <th>創建時間</th>
                                <th nzRight>編輯</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of columnTable.data">
                                <td>{{ data.userName }}</td>
                                <td>
                                    <div *ngFor="let func of data.func; let i as index">
                                        <span *ngIf="func.checked">
                                            {{ func.value | funcPipe }}{{' '}}
                                        </span>
                                    </div>
                                </td>
                                <td>{{ data.inUse }}</td>
                                <td>{{ data.createTime }}</td>
                                <td nzRight>
                                    <button type="submit" nz-button nzType="primary" class="mx-2"
                                        (click)="onEdit('edit',data)">
                                        編輯
                                    </button>
                                    <button nz-button nzType="default" (click)="onDelete(data)">
                                        刪除
                                    </button>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>

            </div>
        <!-- </div>
    </div>

</div> -->