.base-card {
    background-color: white;
    border-radius: 5px;

    .base-card-header {
        display: flex;
        padding: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: '#68cbf8';
        padding-left: 18px;

        h4 {
            color: '#006884';
            margin-bottom: 0;
            align-self: center;
            font-size: 18px;
            font-weight: 600;
        }

        span {
            align-self: center;
        }

        .page-range {
            color: '#006884';
        }
    }

    .base-card-content {
        padding: 10px;
    }

    .base-card-title {
        font-size: 18px;
        font-weight: 600;
        color: rgba(21, 28, 42, 0.69);
        margin-bottom: 0;
        align-self: center;
    }

    .search-btn {
        display: flex;
        align-self: flex-end;
        margin-bottom: 7px;
    }
}